global
    {% if haproxy_config_global.enable_zero_warning -%}
    zero-warning
    {% endif -%}
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    {% if ansible_os_family == "RedHat" -%}
    pidfile /var/run/haproxy.pid
    {% endif -%}
    maxconn {{ haproxy_config_global.maxconn }}

    {% for log_item in haproxy_config_global.logs -%}
    {{ log_item }}
    {% endfor %}

    {% for stats_socket_config in haproxy_config_global.stats_socket_configs -%}
    {{ stats_socket_config }}
    {% endfor %}

    {% for custom_option in haproxy_config_global.custom_options -%}
    {{ custom_option }}
    {% endfor %}

    {%- for security_ssl_policy in haproxy_config_global.security_ssl_policies -%}
    {{ security_ssl_policy }}
    {% endfor %}

{% for haproxy_config_default in haproxy_config_defaults -%}
defaults {{ haproxy_config_default.name }}
    {% for haproxy_config_default_option in haproxy_config_default.options -%}
    {{ haproxy_config_default_option }}
    {% endfor %}
{% endfor %}
